@import '../utilities/variables';

.container {
    background: url('../assets/destination/background-destination-mobile.jpg') no-repeat center
        center;
    background-size: cover;
}

.title {
    font-size: $mediumFont;
    font-weight: bold;
    margin-top: 4em;
    place-self: center;
}

.content {
    margin-top: 7em;
}

.context img {
    width: 65%;
}

.image img {
    max-width: 90%;
}

.info {
    margin-top: 5em;
}

.destinations {
    display: flex;
    justify-content: space-between;

    span {
        font-size: $smallFont;
        font-weight: bold;
        line-height: 2em;
    }
}

.details {
    padding: 3em 0;

    .name {
        font-size: $bigFont;
        font-weight: bolder;
    }

    .about {
        font-size: $smallFont;
        border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
        padding: 1.5em 0 2em 0;
        max-width: 45ch;
        margin: auto;
        line-height: 1.6em;
    }
}

.footer {
    display: flex;
    flex-direction: column;

    .distance {
        margin-bottom: 3em;
    }

    .distance,
    .travelTime {
        h1 {
            font-size: calc(3vw + 2rem);
            margin-top: 0.3em;
        }

        h3 {
            font-size: calc(1vw + 1rem);
        }
    }
}

@media (min-width: 640px) {
    .container {
        background: url('../assets/destination/background-destination-tablet.jpg') no-repeat center
            center;
        background-size: cover;
    }

    .title {
        font-size: $mediumFont;
        place-self: start;
        margin: 4em 0 0 1em;
    }

    .destinations span {
        font-size: calc(1.3vw + 1.2rem);
    }

    .details {
        .name {
            font-size: calc(7vw + 8rem);
        }

        .about {
            max-width: 43ch;
        }
    }

    .footer {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 950px) {
    .container {
        background: url('../assets/destination/background-destination-desktop.jpg') no-repeat center
            center;
        background-size: cover;
    }

    .menu ul li a {
        font-size: calc(1.2vw + 1rem);
    }

    .title {
        font-size: calc(1.5vw + 1.4rem);
    }

    .destinations {
        span {
            font-size: calc(1vw + 1rem);
        }
    }
    .details {
        .name {
            font-size: calc(6vw + 7rem);
        }
        .about {
            font-size: calc(1vw + 1rem);
            max-width: 33ch;
        }
    }
    .footer {
        .distance {
            margin: 0 auto 0 0;
        }

        .distance,
        .travelTime {
            h1 {
                font-size: calc(1vw + 1.5rem);
            }

            h3 {
                font-size: calc(0.5vw + 0.7rem);
            }
        }
    }
}
