@import '../utilities/variables';

.container {
    background: url(../assets/home/background-home-mobile.jpg) no-repeat;
}

.topHeading {
    font-size: $mediumFont;
}
.space {
    margin: 0.3em 0;
    font-size: $bigFont;
    font-weight: bolder;
}
.bottomHeading {
    font-size: $smallFont;
    max-width: 33ch;
    line-height: 1.5em;
}

.button {
    padding-top: 7em;
}

button {
    width: 6.5em;
    height: 6.5em;
    border-radius: 50%;
    font-size: calc(1rem + 3vw);
    border: 2px solid #103150c4;
}

button:hover {
    color: #202578;
}

@media (min-width: 640px) {
    .container {
        background: url(../assets/home/background-home-tablet.jpg) no-repeat;
        background-size: 100% 100%;
    }

    .space {
        font-size: calc(6vw + 7rem);
    }
}

// large screen
@media (min-width: 950px) {
    .container {
        background: url(../assets/home/background-home-desktop.jpg) no-repeat;
        background-size: 100% 100%;
    }

    .topHeading {
        font-size: calc(2vw + 1.2rem);
    }

    .bottomHeading {
        font-size: calc(1rem + 1vw);
    }

    button {
        font-size: calc(2.7rem + 1vw);
    }
}
