@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

html {
    font-size: 62.5%;
    color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 5rem auto;
    place-items: center;
    background: url(../assets/home/background-home-mobile.jpg) no-repeat;
    background-size: 100% 100%;
    padding: 3em 2em;
}

// header section
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    padding: 4em;
    background-color: rgba(8, 11, 26, 0.9);
    position: fixed;
    top: 0;
    left: -80%;
    width: 80%;
    height: 100%;
    transition: all 0.4s linear;

    .closeIcon {
        place-self: end;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;

        li {
            padding: 4em 0;

            a {
                text-decoration: none;
                position: relative;
                color: white;
                font-size: calc(1vw + 1.3rem);
                font-weight: bold;
                padding: 0.7em;
            }
        }

        li a::after {
            content: '';
            position: absolute;
            top: 90%;
            left: 0;
            right: 0;
            border-bottom: 1px solid;
            transform: scaleX(0);
            transform-origin: left top;
            transition: transform 0.5s ease-in-out;
        }

        li a:hover::after {
            transform: scaleX(1);
            transform-origin: right top;
        }
    }
}

.content {
    margin-top: 7em;
    margin-bottom: 5em;
}

.topHeading {
    font-size: calc(2.5vw + 1.2rem);
}
.space {
    margin: 0.3em 0;
    font-size: calc(7vw + 5rem);
    font-weight: bolder;
}
.bottomHeading {
    font-size: calc(1rem + 1.5vw);
    max-width: 23em;
}

.button {
    padding-top: 7em;
}

button {
    width: calc(13vw + 10rem);
    height: calc(13vw + 10rem);
    border-radius: 50%;
    font-size: calc(1rem + 3vw);
    border: 2px solid #103150c4;
}

button:hover {
    color: #202578;
}
.pointer {
    cursor: pointer;
}

@media (min-width: 656px) {
    .container {
        background: url(../assets/home/background-home-tablet.jpg) no-repeat;
        background-size: 100% 100%;
        padding: 1em 2em;
        grid-template-rows: 8rem auto;
    }

    .logo img {
        width: 7rem;
    }

    .menuIcon {
        display: none;
    }

    .menu {
        padding: 0 2em;
        width: auto;
        height: auto;
        position: absolute;
        right: 0;
        left: auto !important;
        // background-color: #62636842;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);

        ul {
            flex-direction: row;
        }

        .closeIcon {
            display: none;
        }
    }

    .content {
        margin-bottom: 11em;
        margin-top: 15em;
    }

    .space {
        font-size: calc(7vw + 7rem);
    }

    button {
        width: calc(13vw + 13rem);
        height: calc(13vw + 13rem);
    }
}

//tabs
@media (min-width: 950px) {
    .container {
        background: url(../assets/home/background-home-desktop.jpg) no-repeat;
        background-size: 100% 100%;
        padding: 3em 5em;
    }

    .menu {
        width: 60vw;
        top: 3em;
    }

    .menu ul {
        justify-content: space-around;
    }

    .menu ul li {
        padding: 3em 0;
    }

    .content {
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .topHeading {
        font-size: calc(2vw + 1.2rem);
    }

    @media (min-width: 656px) {
        .space {
            font-size: calc(6vw + 7rem);
        }
        button {
            width: calc(10vw + 13rem);
            height: calc(10vw + 13rem);
        }
    }

    .bottomHeading {
        font-size: calc(1rem + 1vw);
    }

    button {
        font-size: calc(1rem + 2vw);
    }
}

// large screen

@media (min-width: 992px) {
}
